<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teams :: Totality </title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <H3>Команды</H3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Acive</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" team : ${teamPage.content}">
            <th scope="row" th:text="${team.id}"/>
            <td th:text="${team.name}">
            <td th:text="${team.active}">
            <td>
                <nav class="nav">
                    <a class="nav-link active" th:href="@{edit(id=${team.id})}">Edit</a>
                </nav>

            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>