<!--<!DOCTYPE HTML>-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Games :: Tournament :: Totality </title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <H3 th:text="'Турнир ' + ${tournament.name}">Турнир </H3>
    <div class="card-deck">
        <div name="ssss" th:each=" aGame : ${games} ">
            <div th:replace="fragments/cardForm :: cardEditForm"/>
        </div>
    </div>
</div>


<script>
    function updateGame(gameID) {
        // this is the id of the form
        var formID = '#game' + gameID;
        var cardId = '#card' + gameID;
        $(formID).submit(function (e) {

            var url = "editGame"; // the script where you handle the form input.

            $.ajax({
                type: "POST",
                url: url,
                data: $(formID).serialize(), // serializes the form's elements.
                success: function (data) {
                    // display(data); // show response from the php script.
                    $(cardId).html(data);
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    display(e);
                },
                done: function (e) {
                    console.log("DONE");
                    // enableSearchButton(true);
                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    }


    function display(data) {
        var json = "<h4>Ajax Response</h4><pre>"
            + JSON.stringify(data, null, 4) + "</pre>";
        $('#feedback').html(json);
    }


</script>


<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: dateTimeJS"/>


</body>
</html>