<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Totality Everywhere</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <p/>
    <br/>
    <h3>Поздравляем. Ваш пользователь создан</h3>
    <p>А теперь внесите деньги за турнир и попросите администратора активировать вашу учетную запись!</p>

    <a href="/" class="badge badge-success">На главную страницу</a>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>