<html xmlns:th="http://www.thymeleaf.org">
  <head>

  </head>
  <body>

    <!-- CARD VIEW -->
    <div th:fragment="cardViewForm" th:id="'card' + ${gameBet.game.id}">
      <div class="card text-center mt-3">
        <form th:id="'game' + ${gameBet.game.id}" th:object="${gameBet}">
          <div class="card-header text-center">
            <h6 th:text="${#dates.format(gameBet.game.startDate, 'dd.MM.yy HH:mm')}"></h6>
          </div>
          <div class="card-body">
            <div align="center">
              <table>
                <tr>
                  <td align="right"><h5 class="card-title" th:text="${gameBet.game.team1.name}"></h5></td>
                  <td><h5 class="card-title">
                    &nbsp;&ndash;&nbsp;
                  </h5></td>
                  <td><h5 class="card-title" th:text="${gameBet.game.team2.name}"></h5></td>
                </tr>
                <tr>
                  <td align="right">

                    <div class="d-flex justify-content-end">
                      <div class="input-group-prepend">
                                        <span class="input-group-text"><img align="left"
                                                                            th:src="@{'/img/teamIcon/' + ${gameBet.game.team1.mnemonic} + '/raw'}" /></span>
                      </div>
                      <input type="hidden" th:name="id" th:value="${gameBet.bet.id}">
                      <input type="text" class="form-control int_value" name="score1"
                             th:value="${gameBet.bet.score1}" style="width: 5ch"
                             th:readonly="!${gameBet.canBet}">
                    </div>

                  </td>
                  <td><h5 class="card-title text-center">&nbsp;:&nbsp;</h5></td>
                  <td align="left">

                    <div class="d-flex">
                      <input type="text" class="form-control int_value" name="score2"
                             th:value="${gameBet.bet.score2}" style="width: 5ch"
                             th:readonly="!${gameBet.canBet}">
                      <div class="input-group-append">
                                        <span class="input-group-text"><img align="left"
                                                                            th:src="@{'/img/teamIcon/' + ${gameBet.game.team2.mnemonic} + '/raw'}" /></span>
                      </div>
                    </div>
                  </td>

                </tr>
              </table>
              <p></p>
              <p class="card-text mt=4"><span th:text="${gameBet.game.rate}" />&nbsp;<span>₽</span></p>
            </div>
          </div>
          <div class="progress" style="height: 3px;" data-toggle="tooltip"
               th:title="'Сделано ставок: ' + ${gameBet.gameBetStatistics?.betFilledCount} + ' из ' + ${gameBet.gameBetStatistics?.betCount}">
            <div class="progress-bar" role="progressbar"
                 th:style="'width:' + ${gameBet.gameBetStatistics?.getPercentage()} + '%'"
                 aria-valuemin="0"
                 th:attr="aria-valuemax=${gameBet.gameBetStatistics?.betCount}"
                 th:attrappend="aria-valuenow=${gameBet.gameBetStatistics?.betFilledCount}"
            >
            </div>
          </div>
          <div class="card-footer" th:if="!${gameBet.betResultItem}">
            <div class="row ">
              <div class="col-xs-10" th:if="${gameBet.betResultItem}">
                <p class="card-title" th:text="${gameBet.betResultItem.betResultStatus}"></p>
              </div>

              <div class="col-xs-10" th:if="!${gameBet.betResultItem}">
                <small id="submitHelp" class="form-text text-muted" th:if="${gameBet.bet.betDate}"
                       th:text="${#dates.format(gameBet.bet.betDate, 'dd.MM.yy HH:mm:ss')}"></small>
              </div>
              <div th:class="'col-xs-2 ml-auto ' + !${gameBet.canBet}">
                <button type="submit" class="btn btn-primary btn-sm" th:disabled="!${gameBet.canBet}"
                        th:onclick="'createBet(' + ${gameBet.game.id} + ')'">
                  OK
                </button>
              </div>
            </div>
          </div>

          <div class="card-footer" th:if="${gameBet.betResultItem}">
            <div class="row ">
              <div class="col-xs-10">
                <a th:href="@{gameResult(game=${gameBet.game.id})}">
                            <span class="card-title" th:text="${gameBet.betResultItem.betResultStatus}">
                            </span>&nbsp;&nbsp;(<span th:text="${gameBet.betResultItem.winAmount}" />)
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END VIEW -->

    <!-- CARD EDIT -->
    <div th:fragment="cardEditForm" class="holder" th:id="'card' + ${aGame.id}">
      <div class="card text-center mt-3">
        <form th:id="'game' + ${aGame.id}" th:object="${aGame}">
          <div class="card-header text-center">
            <div class="input-group text-center">
              <input type="hidden" th:name="id" th:value="${aGame.id}">
              <input type="hidden" th:name="tournament" th:value="${tournament.id}">
              <div class="input-group-prepend">
                <span class="input-group-text">Игра</span>
              </div>
              <input type="text" class="text-center form-control date_time" id="date_time"
                     th:value="${#dates.format(aGame.startDate, 'dd.MM.yy HH:mm')}"
                     placeholder="dd.MM.yy hh:mm" style="width: 15ch" th:name="startDate">
            </div>
          </div>
          <div class="card-body">
            <div form-group-row>
              <select class="custom-select" name="team1">
                <option th:each="team : ${teams}"
                        th:value="${team.id}"
                        th:text="${team.name}"
                        th:selected="((${aGame.team1} !=null) and (${aGame.team1.id} == ${team.id}))"
                />
              </select>
            </div>
            <div form-group>
              <table width="100%" class="m-2">
                <tr>
                  <td class="form-text">Итог:</td>
                  <td align="right">
                    <input type="hidden" th:name="betResult.id"
                           th:value="${aGame?.betResult?.id}">

                    <input type="text" class="form-control int_value" name="team1ResultScore"
                           th:value="${aGame?.betResult?.team1ResultScore}" style="width: 5ch">
                  </td>
                  <td><h5 class="card-title text-center">&nbsp;:&nbsp;</h5></td>
                  <td align="left">
                    <input type="text" class="form-control int_value" name="team2ResultScore"
                           th:value="${aGame?.betResult?.team2ResultScore}" style="width: 5ch">
                  </td>
                </tr>
              </table>
              <!--${gameBet.bet.score1}-->

            </div>
            <div form-group>
              <select class="custom-select" name="team2">
                <option th:each="team : ${teams}"
                        th:value="${team.id}"
                        th:text="${team.name}"
                        th:selected="(${aGame.team2} != null and ${aGame.team2.id} == ${team.id})"
                />
              </select>
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Ставка</span>
              </div>
              <input type="text" class="form-control" name="rate" th:value="${aGame.rate}">
              <div class="input-group-append">
                <span class="input-group-text">₽</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-10">
                <small id="submitHelp" class="form-text text-muted" th:if="${gameUpdated}"
                       th:text="${gameUpdated}"></small>
              </div>
              <div class="col-md-2 ml-auto">
                <button type="submit" class="btn btn-primary btn-sm"
                        th:onclick="'updateGame(' + ${aGame.id} + ')'" aria-describedby="submitHelp">
                  Ok
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END CARD EDIT -->

  </body>
</html>