<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Totality Everywhere</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h3 class="mb-5">Ваши турниры</h3>

    <div class="list-group">
        <a th:each=" ut : ${userTournaments}" class="list-group-item list-group-item-action"
           th:href="'/' + ${ut.getTournament().getId()} + '/game/'"><span
                th:text="${ut.getTournament().getName()}"/> </a>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>