<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Tournament Balance</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h3 class=""><span th:text="${ut.user.userLogin}"/> for <span th:text="${ut.tournament.name}"/>
    </h3>
    <div id="feedback"></div>
    <p/>
    <p/>
    <h5>Добавить операцию</h5>
    <p/>

    <form class="form-inline" method="post"
          th:action="@{'/admin/acc/userTournament/' + ${ut.id} + '/addAccountOperation'}">

        <label class="input-group mb-2 mr-sm-2" for="amount">Сумма</label>

        <div class="input-group mb-2 mr-sm-2">
            <input type="hidden" name="userTournament" th:value="${ut.id}">
            <input type="text" class="form-control amount text-right" id="amount" name="amount" placeholder="0">
            <div class="input-group-append">
                <div class="input-group-text">₽</div>
            </div>
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <label class="input-group" for="accOperation">&nbsp;</label>
            <select class="custom-select" id="accOperation" th:name="accOperation">
                <option th:each="op : ${accOperations}"
                        th:value="${op}"
                        th:utext="${op}"/>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <hr/>
    <h4>Balance <strong><span class="border border-info p-2 " th:text="${accountBalance.balanceAmount}"/></strong></h4>

    <hr/>
    <h5>История операций</h5>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th class="text-right  pr-5" scope="col">Сумма</th>
            <th scope="col">Операция</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" acc : ${accounts} ">
            <th scope="row" th:text="${acc.id}"/>
            <td th:text="${acc.eventDate}">
            <td class="text-right pr-5" th:text="${acc.amount}">
            <td th:text="${acc.accOperation}">
            <td>
                <ul class=" nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{deleteAcc(id=${acc.id})}">Удалить</a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{${tor.id} + '/game/'}">Игры</a>-->
                    <!--</li>-->

                </ul>
            </td>
        </tr>

        </tbody>
    </table>


</div>


<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: dateTimeJS"/>

</body>
</html>