<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Tournament Balance</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h3 class=""><span th:text="${ut.user.userLogin}"/> for <span th:text="${ut.tournament.name}"/>
    </h3>
    <div id="feedback"></div>
    <p/>
    <p/>
    <h5>Добавить операцию</h5>
    <p/>

    <form class="form-inline" method="post"
          th:action="@{'/admin/acc/userTournament/' + ${ut.id} + '/addAccountOperation'}">

        <label class="input-group mb-2 mr-sm-2" for="amount">Сумма</label>

        <div class="input-group mb-2 mr-sm-2">
            <input type="hidden" name="userTournament" th:value="${ut.id}">
            <input type="text" class="form-control amount text-right" id="amount" name="amount" placeholder="0">
            <div class="input-group-append">
                <div class="input-group-text">₽</div>
            </div>
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <label class="input-group" for="accOperation">&nbsp;</label>
            <select class="custom-select" id="accOperation" th:name="accOperation">
                <option th:each="op : ${accOperations}"
                        th:value="${op}"
                        th:utext="${op}"/>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

    <hr/>

    <div th:replace="fragments/userAccBalance :: userAccBalance"/>

</div>


<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: dateTimeJS"/>

</body>
</html>